
<div class="section">
  <div class="container">
    <mat-horizontal-stepper [linear]="isLinear">
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>
      <mat-step label="Life insured" [completed]="lifeInsered">
        <app-life-insured></app-life-insured>
      </mat-step>
      <mat-step label="Type of cover" [completed]="typeOfCover">
        <app-type-of-cover></app-type-of-cover>
      </mat-step>
      <mat-step label="Quote" [completed]="quote">
        <app-quote></app-quote>
      
      </mat-step>
      <mat-step label="Request a call back">
        <app-request-call></app-request-call>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
